<header>
  <h1>Challenge Blog!</h1>
  <ul class="actions">
    <li>
      <%= link_to "New Article", new_article_path, class: "new" %>
    </li>
  </ul>
</header>

<div id="articles">
  <% @articles.each do |article| %>
    <h2><%= link_to article.name, article %></h2>
    <p><%= article.content %></p> 
  <% end %>
</div>