<div class="row" id="admin">
	<div class="col-md-9">
		<header>
			<h1>Blog Author</h1>
			<p>You can create, edit & destroy articles.</p>
		</header>
		<p>
			<h2>Subscribed Users: </h2>
				<ul>
					<% @subscribers.each do |u| %>
						<li>User: <%= u.email %></li>
					<% end %>
				</ul>
		</p>
	</div>
</div>